<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
   

  </head>

  <body
    class="d-flex justify-content-center align-items-center vh-100 bg-light"
    style="
      background: linear-gradient(135deg, #7d847f, #7a6d92);
      min-height: 100vh;
      margin: 0;
    "
  >
    <div
      id="container"
      class="bg-white p-4 rounded shadow"
      style="width: 400px"
    >
      <h1 class="text-center mb-4 fw-bold">CA-IA</h1>
      <form method="post" class="d-flex flex-column align-items-center gap-3">
        <input
          type="text"
          name="pergunta"
          id="pergunta"
          placeholder="digite aqui sua pergunta"
          class="form-control"
          style="max-width: 400px"
        />
        <button class="btn btn-danger px-4">enviar</button>
      </form>

      {% if resposta %}
      <div class="resposta mt-4">
        <h2>Resposta:</h2>
        <p>{{ resposta }}</p>
      </div>
      {% endif %}
    </div>

    <div
      class="position-fixed top-0 end-0 p-3 bg-white rounded shadow"
      style="z-index: 1050; cursor: pointer"
    >
     <!-- Botão para abrir o histórico -->
<!-- Botão para abrir o histórico -->
<div class="mt-1 w-100 text-center bg-primary bg-opacity-50 ">
  <a
    class="fw-semibold"
    data-bs-toggle="collapse"
    href="#historicoCollapse"
    role="button"
    aria-expanded="false"
    aria-controls="historicoCollapse"
    style="
      font-family: 'Inter', sans-serif;
      background-color: #ffffff;
      color: #6f42c1;
      border: 1px solid #6f42c1;
      padding: 1px 10px;
      border-radius: 6px;
      font-size: 14px;
      text-decoration: none;
      display: inline-block;
    "
  >
    Histórico ⬇️
  </a>
</div>

<!-- Histórico escondido por padrão -->
<div class="collapse mt-3" id="historicoCollapse">
  <ul class="list-group" style="font-family: 'Inter', sans-serif;">
    {% for item in historico %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{ item.texto }}</span>
      <small class="text-muted">{{ item.data_hora.strftime('%d/%m/%Y %H:%M:%S') }}</small>
    </li>
    {% endfor %}
  </ul>
  </body>
</html>
